@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 

.App{
   min-height: 100vh;
  /* width: 100vw; */
  background-image: url('https://res.cloudinary.com/dm34wmjlm/image/upload/v1694869657/Taskify/taskify-bg_aj348s.avif');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


